
.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aa{
    height: 100vh;
    padding: 20px;
}



.tt{
    width: 600px;
    height: 600px;
    /* background-color: aquamarine; */
    /* border: 1px solid red; */
    margin: auto auto;
}

/* .t2{
    width: 100%;
} */

.a12{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.t2 td{
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */

}

@media(max-width:600px){
    .tt{
        margin: 300px auto;
    }
}

