
.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}



.tt{
    width: 1000px;
    height: 1000px;
    background-color: aquamarine;
    border: 1px solid red;
    margin-top: 100px;
}

.t2{
    width: 100%;
}


.t2 td{

    border: 1px solid red;

}

/* @media(min-width:600px){
    .tt{
        width: 700px;
        height: 700px;
    }
} */